*.user
*.suo
*.xap
Debug
Release
Node.v1/*
*/Debug
*/Bin
*/Release
*/Debug/*
*/Release/*
obj
bin
obj/*
*/samples/*
*/AgFx.Test/*
*/AgFx.Controls/*
*/AgFx/Binaries/*
*/AgFx/Public/*
*.docstates
*/*ReSha*/*
bin/*
*/*.vssscc
*/*.vspscc
*/_ReSharper.fspp/*
Debug/*
Release/*
*.g.cs
Web/*
WebDyn/*
WebGen/*
ReferenceStuff/*
                                                                                                                                                                                                                                                                                                                                   